body{        
    color: #333;    
    text-transform: uppercase;  
	font: bold 14px/1em 'PT Sans Bold',sans-serif;	
}

.features-item>p{
    color: #f7f4f1;
    text-transform: uppercase; 
	font: bold 14px/1em 'PT Sans Bold',sans-serif;	
}

.features-title{    
    color: #f7f4f1;    
    text-transform: uppercase;       
	font: bold 30px/1em 'PT Sans Bold',sans-serif;	
}